<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="../css/screen.css">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id="spa" class="container">
            <router-view class="main" v-bind:players="players" v-bind:scoring="score"></router-view>
        </div>
        <template id="load">
            <div>
                <h1>加载中...</h1>
            </div>
        </template>
        <template id="ready">
            <div>
                <div class="main-ready">
                    <h1>京津冀创新创业大赛</h1>
                </div>
            </div>
        </template>
        <template id="random">
            <div>
                <div class="main-random">
                    答辩顺序
                    <template v-for="(player, index) in players">
                        <div class="random-index">
                            {{ player.order }}号{{ player.name }}
                        </div>
                    </template>
                </div>
            </div>            
        </template>
        <template id="player">
            <div>
                <div class="main-player">
                    <div class="player-data">
                        <h1>{{ order }}号{{ playerData.name }}</h1>
                    </div>
                    <div class="scores" v-if="scoring == 1">
                        评委打分
                        <template v-for="score in playerData.allScores">
                            <div class="score">{{ score }}分</div>
                        </template>
                        <span>当前总分:{{ totalScore }}</span>
                    </div>
                </div>
            </div>
        </template>
        <template id="over">
            <h1>比赛结束</h1>
        </template>
        <script src="../js/screen.js"></script>
    </body>

</html>