<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="../css/screen.css">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id="spa" class="container">
            <router-view class="main"></router-view>
        </div>
        <template id="load">
            <div>
                <h1>加载中...</h1>
            </div>
        </template>
        <template id="ready">
            <h1>创新创业，共创佳绩</h1>
        </template>
        <template id="random">
            <h1>摇骰子</h1>
        </template>
        <template id="match">
            <h1>比赛中</h1>
        </template>
        <template id="over">
            <h1>比赛结束</h1>
        </template>
        <script src="../js/screen.js"></script>
    </body>

</html>