<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="../css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="../css/screen.css">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id="spa" class="container">
            <img src="../system-img/screen.jpg" alt="" class="img-bkg">
            <router-view class="main" v-bind:players="players" v-bind:scoring="score" v-bind:allscore="scores" v-bind:num="ratersNum"
                ref="test" v-bind:randomed="randomReady" v-bind:ranks="rank"></router-view>
        </div>
        <template id="load">
            <div>
                <h1>加载中...</h1>
            </div>
        </template>
        <template id="ready">
            <div>
                <div class="main-ready">
                    <img src="../system-img/introduction.jpg" alt="">
                </div>
            </div>
        </template>
        <template id="random">
            <div>
                <div class="main-random">
                    <div class="random-hd">
                        <span>抽签结果</span>
                    </div>
                    <div class="order-list">
                        <template v-for="(player, index) in players">
                            <transition name="player-order">
                                <div class="random-item" v-if="randomed">
                                    <div class="random-index">{{ player.order }}号</div>
                                    <div class="random-name">{{ player.name }}</div>
                                </div>
                            </transition>
                        </template>
                        <!--<template v-for="(man, index) in men">
                            <div class="random-item">
                                <div class="random-index">{{ index }}</div>
                                <div class="random-name">{{ man }}</div>
                            </div>
                        </template>-->
                    </div>
                </div>
            </div>
        </template>
        <template id="player">
            <div>
                <div class="main-player">
                    <div class="player-data" v-if="scoring == 0">
                        <div class="wrapper-logo">
                            <img :src="getLogo" alt="加载log失败">
                        </div>
                        <div class="player-name">
                            <span>{{ playerData.order }}号</span>
                            <span>{{ playerData.name }}</span>
                        </div>
                        <div class="player-intro">
                            {{ playerData.introduction }}
                        </div>
                    </div>
                    <div class="scores" v-if="scoring == 1 || scoring == 2">
                        <span class="rater-score">评委打分</span>
                        <div class="score-list">
                            <template v-for="score in num">
                                <div class="score--unknown" v-if="!allscore[score - 1]">?</div>
                                <div class="score" v-else>{{ allscore[score - 1] }}</div>
                            </template>
                        </div>
                        <div class="result" v-if="scoring == 2">
                            <p>总分:<span>{{ totalScore }}</span>分</p>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template id="over">
            <div>
                <div class="match-result">
                    <template v-for="(rankItem, index) in ranks">
                        <div class="rank-item">
                            <div class="rank-index">第{{ index + 1 }}名</div>
                            <div class="rank-name">{{ rankItem.name }}<span>{{rankItem.score}}分</span></div>
                        </div>
                    </template>
                </div>
            </div>
        </template>
        <script src="../js/screen.js"></script>
    </body>

</html>