<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="../css/style.css" rel="stylesheet">
        <script src="/socket.io/socket.io.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
        <style>
            #app {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                height: 100%;
            }

            .img-bkg {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }

            .container {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 95%;
                height: 95%;
                overflow: auto;
                /*height: 90%;*/
                background-color: rgba(104, 126, 136, .6);
            }

            .head {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 5em;
                font-size: 26px;
            }

            .head span {
                width: 6em;
                height: 1.5em;
                line-height: 1.5em;
                text-align: center;
                letter-spacing: .1em;
                font-weight: bold;
                background-color: rgb(61, 153, 207);
                color: white;
            }

            .body {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                flex: 1;
                padding: .4em;
                font-size: 20px;
                overflow: auto;
            }

            .rank-item {
                display: flex;
                /*height: 50px;
                line-height: 50px;*/
                text-align: start;
                font-size: 20px;
                /*margin-bottom: 1em;*/
                font-weight: bold;
                padding: .1em;
                padding-left: .4em;
                box-sizing: border-box;
                border-radius: 5px;
                overflow: hidden;
            }

            .rank-index {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                min-height: 45px;
                background-color: rgb(246, 204, 61);
                color: black;
                font-weight: bold;
            }

            .rank-name {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex: 1;
                min-height: 45px;
                background-color: rgb(38, 111, 153);
                color: white;
                /* letter-spacing: .2em; */
                font-weight: bold;
                padding-left: .2em;
                /*max-width: 20em;*/
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .rank-name-select{
                background-color: rgb(222, 194, 96);
                color: black;
            }

            .rank-name span {
                color: rgb(246, 204, 61);
                /* letter-spacing: .2em; */
                font-weight: bold;
                margin-left: .3em;
            }

            .rank-name-select span{
                color: black;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <img src="../system-img/screen.jpg" alt="" class="img-bkg">
            <div class="container">
                <div class="head">
                    <span>实时排名</span>
                </div>
                <div class="body">
                    <template v-for="(rankItem, index) in rank">
                        <div class="rank-item" v-if="rankItem.score != '尚未评'">
                            <div class="rank-index" v-if="rankItem.scored == 1">{{ index + 1 }}</div>
                            <div class="rank-index" v-else>---</div>
                            <div class="rank-name" :class="selectedStyle(rankItem.order)">{{rankItem.order}}号 {{ rankItem.name }}<span>{{rankItem.score}}分</span></div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <script>
            const ranking = io.connect('/ranking');

            var vue = new Vue({
                el: '#app',
                data: {
                    players: [],
                    rank: [],
                    minute: '',
                    second: '',
                    order: 0,
                },
                computed:{
                
                },
                methods:{
                    selectedStyle:function(index){
                        if(index == this.order){
                            return 'rank-name-select'
                        } else {
                            return ''
                        }
                    }
                },
                created: function () {
                    let self = this
                    $.ajax({
                        url: '/api/screen/status',
                        type: 'get',
                        success: function (msg) {
                            console.log(msg)
                            self.rank = self.players = msg.message.participants
                            self.order = msg.message.participant
                            // 生成排名
                            this.rank = msg.message.participants
                            // 还没分的给个0
                            for (let i = 0, len = this.rank.length; i < len; i++) {
                                if (!this.rank[i].score) {
                                    this.rank[i].score = 0
                                    this.rank[i].scored = 0
                                } else {
                                    this.rank[i].scored = 1
                                }
                            }
                            // 对rank进行排序
                            this.rank.sort(function (a, b) {
                                if (a.score > b.score) {
                                    return -1
                                }
                                if (a.score < b.score) {
                                    return 1
                                }
                                return 0
                            })
                            for (let i = 0, len = vue.rank.length; i < len; i++) {
                                if (self.rank[i].score == 0) {
                                    self.rank[i].score = '尚未评'
                                }
                            }
                        },
                        error: function (err) {

                        }
                    })
                }
            })

            ranking.on('updateRanking', function () {
                console.log('bing')
                $.ajax({
                    url: '/api/screen/status',
                    type: 'get',
                    success: function (msg) {
                        vue.rank = vue.players = msg.message.participants
                        // 生成排名
                        vue.rank = msg.message.participants
                        vue.order = msg.message.participant
                        // 还没分的给个0
                        for (let i = 0, len = vue.rank.length; i < len; i++) {
                            if (!vue.rank[i].score) {
                                vue.rank[i].score = 0
                                vue.rank[i].scored = 0
                            } else {
                                vue.rank[i].scored = 1
                            }
                        }
                        // 对rank进行排序
                        vue.rank.sort(function (a, b) {
                            if (a.score > b.score) {
                                return -1
                            }
                            if (a.score < b.score) {
                                return 1
                            }
                            return 0
                        })
                        for (let i = 0, len = vue.rank.length; i < len; i++) {
                            if (vue.rank[i].score == 0) {
                                vue.rank[i].score = '尚未评'
                            }
                        }
                    },
                    error: function (err) {

                    }
                })
            });
        </script>
    </body>

</html>