a {
    text-decoration: none;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn-random {
    width: 150px;
    height: 150px;
    color: #8D8D8D;
    line-height: 150px;
    text-align: center;
}

.btn-random>i {
    font-size: 100px;
}

.btn-begin, .btn-begin--disable {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.btn-begin {
    background-color: #3B8451;
}

.btn-begin--disable {
    background-color: #7D7D7D;
}