a {
    text-decoration: none;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.img-bkg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.random-hd, .matching-hd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.random-hd span, .matching-hd span {
    width: 8em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 20px;
    color: white;
    letter-spacing: .3em;
    background-color: rgb(61, 153, 207);
}

.random {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    background-color: rgba(141, 141, 141, .4)
}

.random-select {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2em 4em;
    box-sizing: border-box;
}

.random-mode {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.random-mode i {
    /*width: 10em;*/
    /*height: 10em;*/
    font-size: 100px;
    color: #3B8451;
}

.random-mode span {
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 20px;
    letter-spacing: .2em;
    color: white;
}

.random-option-auto, .random-option-manual {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em 4em;
    box-sizing: border-box;
}

.manual-hd {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 10%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(141, 141, 141, .4)
}

.manual-title {
    font-size: 18px;
}

.manual-back {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
}

.manual-submit {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
}

.manual-body {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgba(141, 141, 141, .4)
}

.order-item {
    display: flex;
    height: 30px;
    line-height: 30px;
    text-align: start;
    font-size: 16px;
    margin-bottom: 1em;
    font-weight: bold;
    padding: .2em;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

.order-index {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(246, 204, 61);
    color: black;
    font-weight: bold;
}

.order-name {
    flex: 1;
    height: 30px;
    line-height: 30px;
    text-align: start;
    background-color: rgb(38, 111, 153);
    color: white;
    letter-spacing: .2em;
    font-weight: bold;
    padding-left: 1em;
}

.random-option-auto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-auto, .random-auto--disable {
    width: 10em;
    height: 10em;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(245, 199, 30);
}

.begin-match {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn-random, .btn-random--disable {
    width: 150px;
    height: 150px;
    color: #3B8451;
    line-height: 150px;
    text-align: center;
}

.btn-random--disable {
    color: #8D8D8D;
}

.btn-random>i, .btn-random--disable>i {
    font-size: 100px;
}

.btn-begin, .btn-begin--disable {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.btn-begin {
    background-color: #3B8451;
}

.btn-begin--disable {
    background-color: #7D7D7D;
}

.matching {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2em 4em;
    width: 70%;
    height: 60%;
    box-sizing: border-box;
    background-color: rgba(141, 141, 141, .4)
}

.player-msg {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    width: 100%;
    height: 50%;
}

.player-msg::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(141, 141, 141, .6);
}

.wrapper-logo {
    display: flex;
    width: 150px;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1px;
}

.wrapper-logo img {
    margin: auto;
    max-width: 136px;
    max-height: 136px;
}

.player-intro {
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-left: 2em;
}

.player-index {
    font-size: 24px;
    letter-spacing: 1em;
    color: white;
    margin-top: .8em;
}

.player-name {
    font-size: 20px;
    letter-spacing: .5em;
    color: white;
    margin-top: .5em;
}

.wrapper-btn {
    display: flex;
    flex: 1;
}

.btn-score, .btn-next, .btn-score--disable {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    margin: auto 1em;
    background-color: #3B8451;
    font-size: 20px;
}

.btn-score--disable {
    background-color: rgb(140, 140, 140);
}

.mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.modal-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

.modal-container span {
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin-top: 1.5em;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .3em;
}

.modal-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.btn-sure {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.over {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    letter-spacing: .1em;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}