a {
    text-decoration: none;
    font-style: normal;
}

.img-bkg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-hide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    transition: all .5s;
    transform: translateY(0px);
}

.menu-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    transition: all .5s;
    transform: translateY(-150px);
}

.menu-body {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 150px;
    padding: 0 10%;
    transition: all .5s;
    background-color: rgb(104, 126, 136);
    box-sizing: border-box;
}

.menu-item {
    display: flex;
    flex: 1;
    height: 100%;
}

.menu-item a {
    width: 100%;
    height: 100%;
    line-height: 1;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.main-loading, .main-waiting {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 90%;
    box-shadow: 0 2px 10px #909090;
}

.main-waiting span {
    font-size: 30px;
    color: black;
    font-weight: bold;
    letter-spacing: 1em;
}

.main-players {
    display: flex;
    flex: 8;
    /*justify-content: space-around;
    align-items: center;*/
    flex-direction: column;
    height: 90%;
    text-align: center;
    box-shadow: 0 2px 10px #909090;
}

.player-nav {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(61, 153, 207);
}

.player-nav span {
    display: block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    color: white;
    border-radius: 2px;
    font-size: 18px;
    letter-spacing: .2em;
}

.pre, .next {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 90%;
}

.pre>i, .next>i {
    color: #9A9999;
    font-size: 40px;
}

.player-msg-hd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.player-msg-hd span {
    display: block;
    width: 6em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    font-size: 20px;
    color: white;
    letter-spacing: .3em;
    background-color: rgb(61, 153, 207);
}

.player-msg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.player-simple {
    display: flex;
    width: 80%;
    height: 200px;
    background-color: rgba(104, 126, 136, .6);
    border-radius: 5px;
}

.player-intro {
    width: 80%;
    height: 300px;
    background-color: rgba(104, 126, 136, .6);
    border-radius: 5px;
    padding: 2em;
    box-sizing: border-box;
}

.wrapper-logo {
    display: flex;
    width: 150px;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 1px;
    margin: auto 0 auto 3em;
}

.wrapper-logo img {
    margin: auto;
    max-width: 136px;
    max-height: 136px;
}

.wrapper-msg {
    display: flex;
    height: 150px;
    margin: auto 0 auto 3em;
    flex-direction: column;
}

.wrapper-msg span {
    margin-top: .5em;
    font-size: 50px;
    color: white;
    letter-spacing: .2em;
}

.player-intro p {
    text-align: start;
    font-size: 30px;
    color: white;
    letter-spacing: .1em;
}

.player-intro div {
    margin-top: 1.5em;
    text-align: start;
    font-size: 16px;
    color: white;
    letter-spacing: .1em;
}

.player-score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.score-control {
    display: flex;
    width: 80%;
    height: 150px;
    background-color: rgba(104, 126, 136, .6);
    padding: 1.5em 3em;
    box-sizing: border-box;
}

.total-score {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;
    color: rgb(246, 204, 61);
    font-size: 25px;
}

.total-score span {
    margin: 0 5px;
    font-size: 50px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    /*color: white;*/
}

.checkbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: auto;
    letter-spacing: .2em;
    font-size: 25px;
    color: rgb(114, 114, 114);
}

.checkbox input {
    width: 25px;
    height: 25px;
}

.items {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
    width: 80%;
    height: 350px;
    overflow: auto;
    font-size: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 5em;*/
    cursor: pointer;
    margin-bottom: 1em;
    background-color: rgba(104, 126, 136, .6);
    letter-spacing: .1em;
}

.box-text {
    display: flex;
    position: relative;
    width: 100%;
    height: 2.5em;
    box-sizing: border-box;
    padding: 0 10%;
}

.box-text::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 80%;
    border: .5px solid rgba(74, 74, 74, .5);
}

.box-explain {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    text-align: start;
    padding-left: 10%;
    font-size: 14px;
    color: rgb(126, 125, 125);
    letter-spacing: .2em;
    box-sizing: border-box;
}

.box-explain span {
    margin-left: 2em;
}

.box-text span {
    flex: 1;
    line-height: 3em;
    letter-spacing: .2em;
    color: rgb(246, 204, 61);
}

.submit {
    width: 200px;
    height: 50px;
    background-color: rebeccapurple;
    color: white;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: .2em;
}

.submit--disable {
    width: 200px;
    height: 50px;
    background-color: #8F8E90;
    color: white;
    font-size: 20px;
    line-height: 50px;
}

.over {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    letter-spacing: .1em;
}

.menu-enter, .menu-leave-to {
    transform: translateY(150px);
}