<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="../css/host.css">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
    </head>

    <body>
        <div id="spa" class="container">
            <router-view class="main" v-bind:players="players" v-on:test="add"></router-view>
        </div>
        <template id="load">
            <div>
                <h1>正在加载</h1>
            </div> 
        </template>
        <template id="random">
            <div>
                <div class="random">
                    <div class="btn-random" v-on:click="getRandom">
                        <i class="iconfont">&#xe62a;</i>
                    </div>
                    <div class="btn-begin" v-if="begin" v-on:click="beginMatch">开始比赛</div>
                    <div class="btn-begin--disable" v-else>开始比赛</div>
                </div>
            </div>
        </template>
        <template id="matching">
            <div>
                
            </div>
        </template>
        <script src="../js/host.js"></script>
    </body>

</html>