<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="../css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="../css/host.css">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>

        <div id="spa" class="container">
            <img src="../system-img/pad.jpg" alt="" class="img-bkg">
            <router-view class="main" v-bind:players="players" v-bind:btns="btnStatus" v-bind:order="participant" v-on:getmodal="showModel"></router-view>
            <!--<div v-if="modalshow">
                <transition name="modal">
                    <div class="mask">
                        <div class="modal-container">
                            <span>{{ modal.modalContent }}</span>
                            <div class="modal-btns" v-if="modal.query">
                                <button type="" @click="" class="btn-query">确定</button>
                                <button type="" @click="modal.prompt = false" class="btn-query">取消</button>
                            </div>
                            <div class="modal-btns" v-if="modal.prompt">
                                <button type="" @click="modal.prompt = false" class="btn-sure">确定</button>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>-->

        </div>
        <template id="load">
            <div>
                <h1>正在加载</h1>
            </div>
        </template>
        <template id="random">
            <div>
                <div class="random-hd">
                    <span>抽签</span>
                </div>
                <div class="random">
                    <div class="random-select" v-if="btns.random">
                        <div class="random-mode" @click="getRandom">
                            <i class="iconfont">&#xe62a;</i>
                            <span>自动抽签</span>
                        </div>
                        <div class="random-mode" @click="manualMode">
                            <i class="iconfont">&#xe64e;</i>
                            <span>手动抽签</span>
                        </div>
                    </div>
                    <div class="random-option-manual" v-if="manual">
                        <div class="manual-hd">
                            <span class="manual-back" @click.stop="backRandom"><i class="iconfont">&#xe600;</i>返回</span>
                            <span class="manual-title">{{ swapPrompt }}</span>
                            <span class="manual-submit" @click.stop="postOrder">确认<i class="iconfont">&#xe601;</i></span>
                        </div>
                        <div class="manual-body">
                            <template v-for="(player, index) in players">
                                <div class="order-item" @click="selectItem(index)">
                                    <div class="order-index">{{ player.order }}号</div>
                                    <div class="order-name">{{ player.name }}</div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="begin-match" v-if="btns.begin">
                        <div class="btn-begin" v-on:click="beginMatch">开始比赛</div>
                    </div>
                </div>
            </div>
        </template>
        <template id="matching">
            <div>
                <div class="matching-hd">
                    <span>选手答辩</span>
                </div>
                <div class="matching">
                    <div class="player-msg">
                        <!--<h1>{{ order }}号{{ players[order - 1].name }}</h1>-->
                        <div class="wrapper-logo">
                            <img :src="getLogo" alt="加载logo失败">
                        </div>
                        <div class="player-intro">
                            <span class="player-index">{{ order }}号</span>
                            <span class="player-name">{{ players[order - 1].name }}</span>
                        </div>
                    </div>
                    <div class="wrapper-btn">
                        <div class="btn-score" v-on:click="beginTiming" v-if="timing">开始计时</div>
                        <div class="btn-score" v-on:click="stopTiming" v-else>停止计时</div>
                        <div class="btn-score" v-if="btns.score" v-on:click="beginScoring">
                            开始打分
                        </div>
                        <div class="btn-score--disable" v-if="btns.scoring">
                            正在评分
                        </div>
                        <div class="btn-next" v-if="btns.next" v-on:click="nextParticipant">
                            下一组
                        </div>
                        <div class="btn-next" v-if="btns.over" v-on:click="overMatch">
                            结束比赛
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template id="over">
            <div>
                <span class="over">比赛结束</span>
            </div>
        </template>
        <script src="../js/host.js">

        </script>
    </body>

</html>