<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="../css/rater.css">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
        <script src="../js/picker.min.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <!--<div id="spa">
            <p>
                <template v-for="route in routes">
                    <router-link v-bind:to="{ path:route.url, params:{userId: 1 }}">{{ route.name }}</router-link>
                </template>
            </p>
            <router-view v-bind:player="playerData"></router-view>
        </div>
        <template id="test">
            <p>{{ data }}</p>
        </template>-->
        <div id="spa" class="container">
            <div class="header" v-if="nav"></div>
            <router-view class="main" v-bind:players="players" v-bind:pitems="items" v-bind:scoring="score" v-bind:index="participant" v-on:select="selectScore"></router-view>
        </div>
        <template id="load">
            <div>
                <div class="main-loading">
                    <h1>加载中...</h1>
                </div>
            </div>
        </template>
        <template id="wait">
            <div>
                <div class="main-waiting">
                    <h1>等待抽签完成...</h1>
                </div>
            </div>
        </template>
        <template id="player">
            <div>
                <router-link v-bind:to="prePlayer" class="pre">
                    <i class="iconfont">&#xe600;</i>
                </router-link>
                <div class="main-players">
                    <h1>{{ order }}号</h1>
                    <div>
                        <h3>这里或许要放个头像</h3>
                        <h3>{{ playerData.name }}</h3>
                        <h3>{{ playerData.introduction }}</h3>
                    </div>
                    <div class="items">
                        <template v-for="(item, index) in items">
                            <div class="item" v-bind:data-index="index" v-on:click="select(index)">
                                <span>{{ item.name }}</span>
                                <span>{{ playerData.scores[index].score }}</span>
                            </div>
                        </template>
                    </div>
                    <div class="submit--disable" v-if="canSubmit == 1">
                        已评分
                    </div>
                    <div class="submit" v-else-if="canSubmit == 2" v-on:click="submit">
                        提交
                    </div>
                    <div class="submit--disable" v-else-if="canSubmit == 3">
                        尚未开始评分
                    </div>
                    <div class="submit--disable" v-else-if="canSubmit == 4">
                        等待答辩完成
                    </div>
                </div>
                <router-link v-bind:to="nextPlayer" class="next">
                    <i class="iconfont">&#xe601;</i>
                </router-link>
            </div>
        </template>
        <script src="../js/rater.js"></script>
    </body>

</html>