<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="../css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="../css/rater.css">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
        <script src="../js/picker.min.js"></script>
        <script src="../js/jquery-3.2.0.min.js"></script>
        <script src="../js/layer.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <!--<div id="spa">
            <p>
                <template v-for="route in routes">
                    <router-link v-bind:to="{ path:route.url, params:{userId: 1 }}">{{ route.name }}</router-link>
                </template>
            </p>
            <router-view v-bind:player="playerData"></router-view>
        </div>
        <template id="test">
            <p>{{ data }}</p>
        </template>-->
        <div id="spa" class="container">
            <img src="../system-img/pad.jpg" alt="" class="img-bkg">
            <div class="hide" v-bind:class="{ 'players-panel':panels.players }">
                <div class="switch-sort" @click="switchSort">
                    <div class="switch-sort-item" :class="{ 'switch-sort-selected':sortMode }">按顺序</div>
                    <div class="switch-sort-item" :class="{ 'switch-sort-selected':!sortMode }">按排名</div>
                </div>
                <div class="players-list">
                    <div v-show="sortMode">
                        <template v-for="(player, index) in players">
                            <div class="list-item" @click="jumpToPlayer(index+1)">
                                <div class="item-index">{{ index + 1 }}号</div>
                                <div class="item-name">{{ player.name }}</div>
                            </div>
                        </template>
                    </div>
                    <div v-show="!sortMode">
                        <template v-for="(player, index) in rank">
                            <div class="list-item">
                                <div class="item-index">{{ player.score }}</div>
                                <div class="item-name">{{ player.name }}</div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="hide" v-bind:class="{ 'instruction-panel':panels.instruction }">
                <iframe :src="pdf" class="wrap-pdf"></iframe>
            </div>
            <router-view class="main" v-bind:players="players" v-bind:pitems="items" v-bind:titem="totalItem" v-bind:scoring="score"
                v-bind:index="participant" v-bind:hasscored="isscore" v-on:select="selectScore" ref="child" v-if="panels.score"></router-view>
            <div class="menu-mask" v-bind:class="{ 'menu-mask-show' : showMenuMask }" @click="callMenu"></div>
            <div v-bind:class="isMenu" @click="callMenu" v-if="status == 2">
                <i class="iconfont">&#xe607;</i>
                <span>菜单</span>
            </div>
            <transition name="menu">
                <div class="menu-body" v-bind:class="{ 'menu-body-show': showMenu}" v-if="status == 2">
                    <div class="menu-item" @click="showPlayersPanel">
                        <i class="iconfont">&#xe622;</i>
                        <span>选手列表</span>
                    </div>
                    <div class="menu-item" @click="showIntructionPanel">
                        <i class="iconfont">&#xe66b;</i>
                        <span>商业计划书</span>
                    </div>
                    <div class="menu-item" @click="showScorePanel">
                        <i class="iconfont">&#xe604;</i>
                        <span>评委打分</span>
                    </div>
                    <div class="menu-item" @click="reload">
                        <i class="iconfont">&#xe619;</i>
                        <span>刷新页面</span>
                    </div>
                </div>
            </transition>
            <div class="confirm-container" :class="{ 'confirm-active' : confirmActive }">
                <div class="confirm-content">
                    <div class="confirm-text">
                        {{ confirmText }}
                    </div>
                    <div class="confirm-btns" v-if="ifBtns">
                        <button type="" @click="confirmSure">确定</button>
                        <button type="" @click="confirmCancel">取消</button>
                    </div>
                    <div class="confirm-btns" v-else>
                        <button @click="confirmCancel">确定</button>
                    </div>
                </div>
            </div>
            <div class="user-name">
                <%= user.name %>
            </div>
        </div>
        <template id="load">
            <div>
                <div class="main-loading">
                    <h1>加载中...</h1>
                </div>
            </div>
        </template>
        <template id="wait">
            <div>
                <div class="main-waiting">
                    <span>等待比赛开始</span>
                </div>
            </div>
        </template>
        <template id="player">
            <div>
                <router-link v-bind:to="prePlayer" class="pre">
                    <i class="iconfont">&#xe600;</i>
                    <span class="text-pre">前一项目</span>
                </router-link>
                <div class="main-players">
                    <div class="player-nav">
                        <span @click="toMessage" class="nav-span" v-bind:class="{ 'nav-selected' : btns.message }"><i class="iconfont">&#xe61e;</i>查看资料</span>
                        <span @click="toScore" class="nav-span" v-bind:class="{ 'nav-selected' : btns.score }"><i class="iconfont">&#xe604;</i>打分</span>
                    </div>
                    <div class="player-msg-hd">
                        <span>{{ order }}号选手</span>
                    </div>
                    <div class="player-msg" v-if="btns.message">
                        <div class="player-simple">
                            <div class="wrapper-logo">
                                <img :src="getLogo" alt="加载logo失败">
                            </div>
                            <div class="wrapper-msg">
                                <span>{{ playerData.name }}</span>
                            </div>
                        </div>
                        <div class="player-intro">
                            <p>简介</p>
                            <div v-html="playerData.introduction">
                            </div>
                        </div>
                    </div>
                    <div class="player-score" v-if="btns.score">
                        <div class="score-control">
                            <div class="total-score">
                                总分:<span>{{ getTotalScore }}</span>分
                            </div>
                            <div class="btn-container">
                                <div class="checkbox">
                                    <input type="checkbox" name="" value="" id="justall" v-model="checked">
                                    <label for="justall">总成绩</label>
                                </div>
                                <div class="submit--disable" v-if="canSubmit == 1">
                                    已评分
                                </div>
                                <div class="submit" v-else-if="canSubmit == 2" v-on:click="submit">
                                    提交
                                </div>
                                <div class="submit--disable" v-else-if="canSubmit == 3">
                                    尚未开始评分
                                </div>
                                <div class="submit--disable" v-else-if="canSubmit == 4">
                                    等待答辩完成
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div v-if="checked">
                                <div class="item" v-on:click="selectAll">
                                    <div class="box-text">
                                        <span class="item-msg">{{ totalItem[0].name }}</span>
                                        <span class="item-msg">{{ playerData.totalScore.score }}<span v-if="showPromptTo">(点击修改)</span></span>
                                    </div>
                                    <div class="box-explain">
                                        <span>{{ totalItem[0].note }}(最高分{{ totalItem[0].value }})</span>
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <template v-for="(item, index) in items">
                                    <div class="item" v-bind:data-index="index" v-on:click="select(index)">
                                        <div class="box-text">
                                            <span class="item-msg">{{ item.name }}</span>
                                            <span class="item-msg"><i class="iconfont">&#xe604;</i>{{ playerData.scores[index].score }}<span v-if="showPrompt(index)">(点击修改)</span></span>
                                        </div>
                                        <div class="box-explain">
                                            <span>{{ item.note }}(最高分{{ item.value }})</span>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <router-link v-bind:to="nextPlayer" class="next">
                    <i class="iconfont">&#xe601;</i>
                    <span class="text-next">下一项目</span>
                </router-link>
            </div>
        </template>
        <template id="over">
            <div>
                <span class="over">比赛结束</span>
            </div>
        </template>
        <script src="../js/rater.js"></script>
    </body>

</html>