<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
        <script src="../js/vue.js"></script>
        <script src="../js/vue-router.js"></script>
    </head>

    <body>
        <div id="spa">
            <p>
                <template v-for="route in routes">
                    <router-link v-bind:to="{ path:route.url, params:{userId: 1 }}">{{ route.name }}</router-link>
                </template>
            </p>
            <router-view v-bind:player="playerData"></router-view>
        </div>
        <template id="test">
            <p>{{ data }}</p>
        </template>
        <script src="../js/rater.js"></script>
    </body>

</html>